@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');
.RecipeAdded {
    display: flex;
    background-color:rgb(238, 228, 225);
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.added-button {
    background-color: #E7D8C9;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    margin: 10px;
    padding: 8px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.added-button:hover {
    background-color:#E6BEAE;
}
.RecipeAdded img{
    width: 90px;
    height: 90px;
}
.RecipeAdded .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.RecipeAdded h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #B2967D;
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
