@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300;800&display=swap");

.SearchBar {
    display: flex;
    background-color:rgb(238, 228, 225);
    min-height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.SearchBar button {
    background-color: #E7D8C9;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    margin: 10px;
    padding: 8px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.SearchBar button:hover {
    background-color:#E6BEAE;
}
.found-recipe h1, h4 {
    color:rgb(112, 94, 79);
}

.found-recipe {
    display: flex;
    background-color: #E6BEAE;
    flex-direction: column;
    /* margin: 70px; */
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 5px;
  
}

.SearchBar h2 {
    font-weight: 400;
    color: #B2967D;
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.found-recipe img {
    width: 250px;
    border: 5px solid rgb(179, 114, 136);
    border-radius: 5px;
}
.searchTerm {
    display: flex;
    justify-content: center;
}
.searchTerm input {
    width: 400px;
    margin: 10px;
}